/*
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";
body {
	margin:0;
	padding:0;
	width:100%;
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 1.8em;
	font-weight: normal;
	font-variant: normal;
}
html, .main { padding:0; margin:0; background-color:#c1e09e;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
h1 {
	margin:0;
	padding:12px 0;
	color:#fff;
	font:normal 40px/1.2em Arial, Helvetica, sans-serif;
	font-size: 36px;
}
h1 a, h1 a:hover { color:#fff; text-decoration:none;}
h2 { font:bold 24px Arial, Helvetica, sans-serif; color:#81b436; padding:8px 0; margin:8px 0;}

h3 { font:bold 16px Arial, Helvetica, sans-serif; color:#81b436; padding:8px 0; margin:8px 0;}

p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px/1.8em Arial, Helvetica, sans-serif;
	color: #000;
	font-size: 14px;
	padding-left: 10px;
	text-align: justify;
}
a {
	color:#060;
	text-decoration:underline;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul, .content .mainbar, .content .sidebar { margin:0; padding:0;}
.header_resize, .content_resize, .fbg_resize, .footer_resize {
	margin:0 auto;
	padding:0 40px;
	width:950px;
	position: relative;
}
.fbg, .footer { padding:16px 0;}
.content_resize, .menu_nav ul li a { border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;}

/* header */
.header { height:140px; background:url(../html/images/header_bg.gif) repeat-x top;}
.header .logo {
	padding-top:10px;
	float:left;
}

/* menu */
.menu_nav {
	float:right;
	width:575px;
	padding-top:70px;
	position: absolute;
	left: 411px;
	top: 3px;
	height: 68px;
}
.menu_nav ul { list-style:none; background:url(../html/images/menu.gif) repeat-x top;}
.menu_nav ul li { margin:0 10px; float:left;}
.menu_nav ul li a { display:block; margin:0; padding:4px 20px; color:#fff; text-decoration:none; background-color:#81bb35;}
.menu_nav ul li a { border-radius:8px; -moz-border-radius:8px; -webkit-border-radius:8px;}
.menu_nav ul li a:hover, .menu_nav ul li.active a { background-color:#8fd533;}

/* content */
.content { background:url(../html/images/content_bg.gif) repeat-x bottom;}
.content_resize { padding-bottom:16px; background-color:#e4f4cd;}
.content_resize { border-radius:12px; -moz-border-radius:12px; -webkit-border-radius:12px;}
.content img.ctop { margin:20px 0 20px -20px;}
.content .mainbar { float:right; width:630px;}
.content .mainbar img { margin-bottom:24px; padding:4px; border:1px solid #b7b7b7; background-color:#fff;}
.content .mainbar img.fl { float:right; margin-right:12px;}
.content .mainbar .article, .content .sidebar .gadget {
	margin:0 0 0 5;
	padding:0 0 16px;
	text-align: justify;
}
.content .sidebar { float:left; width:236px;}
ul.sb_menu, ul.ex_menu { margin:0; padding:0; list-style:none; color:#959595;}
ul.sb_menu li, ul.ex_menu li { margin:0; background:url(../html/images/li.gif) no-repeat 0 12px;}
ul.sb_menu li {
	padding:4px 0;
	color: #5f5f5f;
	font-size: 14px;
}
ul.ex_menu li { padding:4px 0 8px;}
ul.sb_menu li a, ul.ex_menu li a { color:#5f5f5f; text-decoration:none;}
ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color:#81b436;
	font-weight:bold;
	font-size: 14px;
}
ul.sb_menu li a:hover {
	text-decoration:none;
	font-size: 16px;
}
ul.ex_menu li a:hover {
	text-decoration:none;
	font-size: 14px;
}

/* subpages */
.content .mainbar .comment { margin:0; padding:16px 0 0 0;}
.content .mainbar .comment img.userpic { border:1px solid #dedede; margin:10px 16px 0 0; padding:0; float:left;}

/* fbg */
.fbg { background:#7baf30 url(../html/images/fbg_bg.gif) repeat-x top;}
.fbg_resize { padding:0 0 16px 40px; width:930px;}
.fbg, .fbg a, .fbg h2 { color:#fff;}
.fbg img { border:1px solid #77a239;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:620px;}
.fbg .c3 { padding:0 0 0 16px; width:270px;}
.fbg .c3 img { margin:4px;}
.fbg .c1 img { margin:8px 16px 16px 0; float:left;}
.fbg ul.sb_menu { width:160px;}
.fbg ul.sb_menu li { border-bottom:1px solid #fff;}
.fbg ul.sb_menu a, .fbg ul.sb_menu a:hover { color:#fff;}

/* footer */
.footer { background-color:#e1e0d5;}
.footer p.lf {
	margin:0;
	padding:4px 0;
	float:left;
	width:auto;
	line-height:1.5em;
	color: #999;
	font-size: 12px;
}
ul.fmenu { margin:0; padding:2px 0; list-style:none; float:right; width:auto;}
ul.fmenu li { margin:0; padding:0 4px; float:left;}
ul.fmenu li a { color:#5f5f5f; text-decoration:none; padding:2px 6px;}
ul.fmenu li a:hover, ul.fmenu li.active a { color:#81b436;}
ul.fmenu li a:hover { text-decoration:underline;}

/* form */
ol { list-style:none;}
ol li { display:block; clear:both;}
ol li label { display:block; margin:0; padding:16px 0 0 0;}
ol li input.text { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:5px 2px; height:16px; background:#fff;}
ol li textarea { width:480px; border:1px solid #c0c0c0; margin:2px 0; padding:2px; background:#fff;}
ol li .send { margin:16px 0 0 0;}
.main .content .content_resize .sidebar .gadget .sb_menu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	padding-left: 10px;
}
.main .content .content_resize .sidebar .gadget p a img {
	border-width: medium;
	border-color: #39C;
	padding: 30px;
	position: static;
}
.img {
	padding-left: 30px;
}
.main .content .content_resize .sidebar .gadget img {
}
.main .content .content_resize .sidebar .gadget .sb_menu li a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #81B436;
}
.main .content .content_resize .sidebar .gadget p a img:hover {
	background: url(../html/images/index.jpg) no-repeat center center;
	overflow: auto;
	list-style: circle url(../html/images/images.jpg);
}
.main .content .content_resize .mainbar .article p {
	color: #000;
}
.ordered {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	list-style: disc;
}
.main .content .content_resize .mainbar .article h2 img {
	margin-right: 10px;
	margin-left: 10px;
}
